* {
  margin: 0px;
  padding: 0px;
}
nav h2{
  margin: 0;
}
h2 img{
  width: 250px;
  height: 70px;
  margin: 0 0 0 50px;
}
nav {
  background: #000000;
  color: #fff;
  width: 100%;
  /* position: fixed; */
  /* left: 100px; */
  /* top: 0; */
  /* z-index: 1; */
  /* padding: 20px; */
}

nav ul {
  width: auto;
  /* background: #666; */
  float: right;
  padding-top: 2px;
  list-style: none;
}

nav ul li {
  float: left;
  margin-top: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  /* background: red; */
  padding: 10px 15px;
  font-size: 20px;
}
nav ul li a:hover{
  color: skyblue;
  text-decoration: none;
}

/*=======sub menu style=========*/

ul.submenu {
  position: absolute;
  background: #000000;
  border-radius: 0.5em;
  top: 55px;
  display: none;
  transition: all 1s;
  padding: 10px;
  z-index: 1;
}
ul.submenu1{
  position: absolute;
  background: #000000;
  border-radius: 0.3em;
  top: 19px;
  right: 190px;
  display: none;
  transition: all 1s;
  padding: 10px;
  width: 230px;
  z-index: 1;
}
ul.submenu li{
  float: none;
  line-height: 35px;
  border-bottom: 1px solid #666;
}
ul.submenu1 li{
  float: none;
  line-height: 35px;
  border-bottom: 1px solid #666;
}
ul.submenu li a:hover {
  /* background: green; */
  /* background: #000000; */
  color:skyblue;
}

nav ul li:hover ul.submenu {
  display: block;
}
/* ul li :hover ul.submenu1{display: block;} */

ul.submenu1 li{ float: none;}
/* nav ul li ul li:hover ul.submenu1{ display: block;} */
nav ul li :hover ul.submenu1{display: block;}
.clear {
  clear: both
}


/*menu button */ .menubtn {
    display:none;
    float: right;
    padding: 5px;
  }

@media (max-width:786px) {
  .menubtn {
    display:table;
    float: right;
    padding: 5px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: red;
    display: block;
    font-size: 20px;
  }
  nav ul li a:hover{color: skyblue;}
  /* nav ul li a:hover {
    background: green;
    color: skyblue;
  } */
  nav ul ul.submenu {
    position: relative;
    top: 0;
    width: 100%;
    transition: all 1s;
    padding: 0px;
    /* display {
      display: none;
    } */
  }
  ul.submenu li {
    width: 100%;
    border-bottom: 1px solid #666;
    transition: all 1s;
  }
}